*{
  margin: 0;
}

.body{
  overflow: hidden;
}

.app__body{
  display: flex;
  height: 100vh;
}

// variable
$slack-color:#3f0f40;

// import component
@import './components/Header.scss';
@import './components/Sidebar.scss';
@import './components/SidebarOption.scss';
@import './components/Chat.scss';
@import './components/Message.scss';
@import './components/Login.scss';
@import './components/ChatInput.scss';